* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ShareTech";
    src: url("/00fonts/Share_Tech/ShareTech-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ChivoMono";
    src: url("/00fonts/chivo-mono/ChivoMono[wght].ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "ShareTech", sans-serif;
    background: linear-gradient(to bottom, #a294f9, #f5efff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}
p{
  max-width: 45%;
}
.container{
  margin: 20px 0 0 20px;
  font-size: 18px;
}

.titlu-pagina {
    position: relative;
    background-color: #ffffff;
    width: 20%;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlu-pagina h1 {
    font-size: 40px;
    margin: 0;
}

.content{
    position: relative;
    left: 50%;
    top: 20%;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
  .body {
    height: 100%;
    width: 100%;
  }

  .active {
    height: 110px;
    scale: 0.6;
  }

  .topnav {
    align-items: none;
  }

  .navbar {
    display: none;
  }

  #logo {
    height: 200px;
    color: #a294f9;
  }

  .icon {
    margin-top: 5%;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }
}
