* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ShareTech';
    src: url('/00fonts/Share_Tech/ShareTech-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChivoMono';
    src: url('/00fonts/chivo-mono/ChivoMono[wght].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "ShareTech", sans-serif !important;
    background: linear-gradient(to bottom, #a294f9, #f5efff);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

/* Titlu */
.titlu-pagina {
    position: relative;
    background-color: #ffffff;
    width: 20%;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlu-pagina h1 {
    font-size: 40px;
    margin: 0;
}

/* Logo */
#logo img {
  max-width: 200px;
}

.topnav {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#myLinks {
  display: none;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1000;
  text-align: center;
}

#myLinks a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid #555;
}

#myLinks a:hover {
  background-color: #555;
  border-radius: 5px;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 50px;
  margin-right: 5%;
}

/* Navbar */
.navbar {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 15px 40px;
    gap: 30px;
    margin-top: 25px;
    margin-left: calc(20% - 50px);
    margin-right: 20%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: flex;
    margin: 0 55px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    color: #A294F9;
}

.footer-basic {
  padding: 40px 0;
  background-color: inherit;
  color: #000000;
  font-family: Arial, sans-serif;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.footer-basic li {
  display: inline;
  margin: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  margin-bottom: 25px;
}

.footer-basic .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
}

.footer-basic .social a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic p{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .body {
    height: 100%;
    width: 100%;
  }

  .active {
    height: 110px;
    scale: 0.6;
  }

  .topnav {
    align-items: none;
  }

  .navbar {
    display: none !important;
  }

  #logo {
    height: 100px;
    color: #a294f9;
  }

  .icon {
    margin-top: 5%;
  }

  .logo {
    display: none;
  }

  .card-container a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: space-between; 
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 450px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.card h3 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

/* Imagini carduri */
.imagine-card {
    padding: 15px 15px 70px 15px;
    overflow: hidden;
    height: calc(100% - 0px);
    width: 280px;
    margin-left: 10px;
}

.imagine-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
    border-radius: 10px;
}
}

@media (min-width: 769px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }

  /* Carduri */
.card-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: space-between; 
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-lg {
  flex: 1 1 calc(33.33% - 30px); 
  max-width: calc(33.33% - 30px);
  box-sizing: border-box; 
}


.card {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  height: 450px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card h3 {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}


.imagine-card {
  padding: 15px 15px 70px 15px;
  overflow: hidden;
  height: calc(100% - 0px);
}

.imagine-card img {
  width: 100%;
  height: 100%;
  max-height: 163.56px;
  min-height: 163.56px;
  object-fit: cover !;
  border-radius: 10px;
}
}

@media (min-width: 992px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }
  card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: space-between; 
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .col-lg {
    flex: 1 1 calc(33.33% - 30px); 
    max-width: calc(33.33% - 30px); 
    box-sizing: border-box; 
  }
  

  .card {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    height: 450px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  .card h3 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  }
  

  .imagine-card {
    padding: 15px 15px 70px 15px;
    overflow: hidden;
    height: calc(100% - 0px);
  }
  
  .imagine-card img {
    width: 100%;
    height: 100%;
    max-height: 300.56px;
    min-height: 300.56px;
    object-fit: cover !;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .logo {
    left: 5px;
    top: -30px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .navbarM {
    display: flex;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    height: 150px;
    margin-right: 20%;
  }

  .navbar {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  .navbar li {
    margin: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar a:hover {
    color: #A294F9;
  }

  .topnav {
    display: none;
  }
  card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: space-between; 
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .col-lg {
    flex: 1 1 calc(33.33% - 30px); 
    max-width: calc(33.33% - 30px); 
    box-sizing: border-box;
  }
  

  .card {
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
    height: 450px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  .card h3 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  }
  
  .imagine-card {
    padding: 15px 15px 70px 15px;
    overflow: hidden;
    height: calc(100% - 0px);
  }
  
  .imagine-card img {
    width: 100%;
    height: 100%;
    max-height: 300.56px;
    min-height: 363.56px;
    object-fit: cover !;
    border-radius: 10px;
  }
}
